<pf-layout id="app" icons>
  <router-link slot="brand" to="/" :exact="true" class="navbar-brand navbar-brand-name">
    Vue PatternFly
  </router-link>

  <template slot="vertical-menu">
    <!-- when the "to" property is present a <router-link> will be used -->
    <pf-menu-item
      to="/get-started"
      exact
      title="Get Started"
      icon="fa-play-circle"
    ></pf-menu-item>

    <pf-menu-item
      to="/notifications"
      exact
      title="Notifications"
      icon="fa-bell"
      badge="12"
    ></pf-menu-item>
  </template>

  <router-view></router-view>
</pf-layout>
